[submodule "docker-nginx-base"]
	path = docker/nginx-base
	url = https://github.com/kentrino/nginx-base.git

[submodule "docker-nginx"]
	path = docker/nginx
	url = https://github.com/kentrino/docker-nginx.git
